body {
    background-color: #383f43;
    text-align: center;
    font-family: 'Tinos', serif;
    color: white;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

nav.navbar {
    background: #162b38;
    margin: auto;
    width: 100%;
    max-width: 768px;
    color: #6e6e6e;
}

.nav-left {
    display: flex;
    align-items: center;
}

.navbar-title {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.navbar-brand {
    color: #9e9e9e;
    padding: 0;
    margin: 0;
    line-height: 1rem;
}

.navbar-slogen {
    font-size: 1rem;
    line-height: 1rem;
    margin: 0;
}

.navbar-brand:hover {
    color: #6e6e6e;
}

#start {
    /* NEEDED FOR FOCUS. DO NOT REMOVE EVEN THOUGH EMPTY */
}

.btn {
    background-color: #fc7524;
    color: white;
}

.btn:hover {
    background-color: #a55028;
}

.dropdown-menu {
    text-align: center;
}

.modal {
    color: #3e3e3e;
}

.display-none {
    display: none;
}

.logo {
    margin: 0;
    height: 3rem;
}

.container {
    justify-content: center;
    margin-top: 10px;
    height: 100%;
    background: #162b38;
    max-width: 768px;
    overflow: hidden;
}

.cards-container {
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 2vw;
    width: 28%;
    height: 75px;
    background-image: url('./images/Back.jpg');
    background-size: cover;
}

@media only screen and (min-width: 768px) {
    .card {
        margin: 10px;
        max-width: 150px;
        height: auto;
    }
    .cards-container {
        margin: -1vw;
        height: 100%;
    }
}